<h1>Add Event and Description</h1>

<form method="post">
    <label for="name">Event</label>
    <input name="name" id="name" type="text" />

    <label for="description">Description</label>
    <input name="description" id="description" type="text" />

    <input type="submit" value="Add Event and Description" />
</form>
